html {
    font-family: 'Noto Sans Mono', serif;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("img/watercolor.png");
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.menu {
    margin: 30px;
    display:flex;
    max-width: 100%;
    height: auto
}

.frame{
    text-align: center;
    display:inline-block;
    width: 50%
}

.container {
    background-color: white;
    width: 800px;
    text-align: center;
    position: center;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    color: black;
    font-size: 18pt;
    font-weight: bold;
    background-image: linear-gradient(to right, white 0%, #FFD3BA 51%, white 100%);
}

a:hover{
    background-position: right center;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}

img {
    margin-top: 50px;
    height: auto;
    width: 800px;
}